html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wraper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
}
 
/* Main page */

.main-page  {
    background: linear-gradient(270deg, #000 -4.82%, #4287AA 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.header {
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text  {
    margin-left: 18px;
}

.banderogus-container   {
    background: #fff;
    padding: 60px 56px;
    align-self: center;
}

.banderogus-greeting    {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #161617;
    margin-bottom: 16px;
}

.banderogus-start-text {
    font-weight: 600;
    font-size: 16px ;
    line-height: 24px;
    color: #161617;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banderogus-title   {
    color: #161617;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
}

.banderogus-descr   {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161617;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banderogus-launch  {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}
.intro-text {
    color: #C1A100;
    font-family: 'Kaisei Decol', serif;
    width: 150px;
    height: 89px;
    font-size: 60px;
}
.main-page-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.titan-img  {
    width: 700px;
    height: 700px;
    flex-shrink: 0;
    float: right;
} 
 
/* Gus facts */

.gus-facts  {
    padding: 52px 0 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ukr-logo {
    width: 45px;
    height: 40px;
}

.gus-title  {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #161617;
    margin: 16px 0;
}

.gus-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161617 ;
    margin: 16px 0;
}

.gus-facts-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gus-fact-item {
    width: 33%;
}

.gus-fact-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161617;
    width: 280px;
}

/* Finish */
.finish {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.motivation {
    padding-top: 58px;
    background: linear-gradient(270deg, #D1EEFF -4.82%, rgba(205, 237, 255, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1170px;
    height: 419px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speach {
    color: #161617;
    font-size: 64px;
}

.goal {
    width: 875px;
    height: 92px;
    flex-shrink: 0;
    text-align: center;
}
