html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.wraper {
    width: 1190px;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
}
 
/* Main page */

.main-page  {
    background: linear-gradient(270deg, rgb(2, 40, 180) -4.82%, #0a3e58  100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 

}

.header {
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.titan-container   {
    background: #ffff;
    padding: 60px 56px;
    align-self: center;
}

.greeting    {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #161617;
    margin-bottom: 16px;
}

.start-text {
    font-weight: 600;
    font-size: 16px ;
    line-height: 24px;
    color: #d39b00;
    margin-top: 18px;
    margin-bottom: 28px;
}

.titan-title {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 80px;
    line-height: 50px;
    font-family: 'Playfair Display', serif;
}

.titan-descr   {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 38px;
}

.titan-launch  {
    background: #ff9249;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}

.main-page-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center
}

.titan-img  {
    width: 700px;
    height: 700px;
    flex-shrink: 0;
    float: right;
    
} 

/* Заголовки та текст до карточок */

.grey-mini-text {
    display: flex;
    font-size: 18px;
    color: rgb(143, 143, 143);
}

/* Все про структуру та ефекти карточок */
.cards {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
    gap: 50px;
}

.card {
    width: 500px;
    height: 650px;
    display: flex;
    overflow: hidden;
    transition: all .5s ease;
    border-radius: 60px;

    position: relative;
}

.card:hover {
    transform: scale(.9);
}

.card img {
    transition: all .5s ease;
}

.card:hover img {
    transform: scale(1.15);
}

.card:hover .card-content {
    position: absolute;
    bottom: 0;
    opacity: 1;
}

.card-content {
    opacity: 0;
    transition: all .5s ease;
    color: #fff;
    font: 600 1.5rem Tahoma;
    padding: 1.25rem;
    z-index: 30;
}

.card:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 20;
    display: none;
}

.card:hover:after {
    display: block;
}

/* Про винахідника */

.developer {  
    flex-direction: row;
}

.title-chr-1 {
    font-size: 60px;
    text-align: left;
}

  /* Про атмосферу на Титані */
.information {
    flex-direction: row-reverse;
    background: rgba(0,0,0,0.09);
}

.title-information {
    width: 30%;
}

.inf-title-titan {
    font-size: 40px;
    text-align: left;
}

.inf-titan {
    width: 700px;
}

/* Kassini */

.kassini {
    flex-direction: row;   
    gap: 30px;

} 

.title-cards {
    width: 45% ; 
    font-size: 75px;
    text-align: left;
}

.title-kassini-1 {
    font-size: 38px;
    text-align: left;
}

/* Цікаві факти про Титан */

.titan-fact-img  {
    height: 360px;
    width: 360px;
}

.titan-facts  {
    height: 100%;
    width: 100%;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.09);
}

.saturn {
    width: 45px;
    height: 40px;
}

.titan-facts-title  {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #161617;
    margin: 16px 0;
    font-family: 'Playfair Display', serif;
}

.titan-facts-container {
    height: 100%;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.titan-fact-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    color: #161617;
    margin: 16px 0;
    font-family: 'Playfair Display', serif;
}

.titan-fact-item {
    width: 33%;
}

.titan-fact-descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #161617;
    width: 280px;
}

.interesting-fact {
    width: 20px;
    height: 20px;
}

/* Використані джерела */
.book {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.book-box {
    padding-top: 58px;
    background: linear-gradient(270deg, #acd9f3 -4.82%, rgba(75, 171, 226, 0) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1170px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-title {
    color: #060609;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
}

.book-descr{
    flex-direction: row;
    display: flex;
    gap: 50px;
} 

.book-img {
    width: 290px;
    height: 400px;
}

.book-header{
    font-weight: bold;

}
.book-text {
    width: 600px;
}

.book-inf {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.book-add-inf {
    font-size: 16px ;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
}

